body{
    margin: 0px;
}
section {
    width: 200px;
    background: tomato;


}
div {
    height: 40px;
    background-color: lightblue;
    /*width: calc(100vw / 3);*/
    width: calc(100vw - 100px);/* "calc" função CSS*/
    height: 100vh;
}