body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0px;
}

.comprar {
    background-color: #aa86ff;
    color: #110033;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.item {
    display: grid;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 8px;

}
main {
    display: grid; 
    grid-template-columns: 200px 200px 200px;
    gap: 20px; 
    justify-content: center;
}
/*display: grid; -- define display 
grid-template-columns: 300px 300px 300px; -- define colunas e tamanhos das colunas 
gap: 20px; -- separa os elementos
justify-content: center; -- alinha os itens da coluna*/