
.flex {
    display: flex;
    flex-wrap: wrap;/* quebra linha*/
    gap: 20px; 
    margin-top: 20px; 
}
body {
    margin: 0px;
}
h2 {
    background-color: #e7e7e7;
    border: 1px solid #d7d7d7;
    padding: 20px;
    margin: 0px;
    /*
    
    flex-grow: 1; distribui o espaço em branco dentro do elemento

    flex-basis: auto; padrão é 0
    distribui o espaço apos o conteudo do elemento ficando do tamanho que o conteudo limita

    flex-shrink: 1; determina se o elemento pode ser encolhido

    flex: 1; atalho para as outras 3 de cima
    
    */

}
.grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, auto)); 
}

